.homePage{
    min-height: 850px;
    height: 100%;
    background: url(../../pictures/HomePage.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
}

.homePage h1{
    padding-top: 3%;
}