.fa-facebook-square {
    color: #4267B2;
}
.fa-linkedin{
    color: #2867B2;
}
.fa-instagram{
    color: #E1306C;
}
.fa-github-square{
    color: rgb(99, 98, 98);
}

.Contact{
    padding-top: 5%;
    padding-bottom: 5%;
}